<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.staticfile.net/jquery/3.7.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
  <title>FTC Machine Learning</title>
</head>
<body class="flex flex-column aligned-center justified-start">
  <h1>FTC Machine Learning</h1>
  <div id="tool-selector" class="flex flex-row justified-start aligned-center">
    <button id="videos-tool-button" class="selector-button rounded-rect white-bg">Videos</button>
    <button id="datasets-tool-button" class="selector-button rounded-rect white-bg">Datasets</button>
    <button id="models-tool-button" class="selector-button rounded-rect white-bg">Models</button>
  </div>
  <div id="tool-container">
    <div id="videos-tool" class="flex flex-column aligned-start justified-start">
      <div class="flex flex-row">
        <button id="upload-video-button" class="rounded-rect gray-bg">Upload Video</button>
        <button id="produce-dataset-button" class="rounded-rect gray-bg">Produce Dataset</button>
        <button id="delete-videos-button" class="rounded-rect gray-bg">Delete Videos</button>
      </div>
      <div id="videos-list">
        <!-- returned by server -->
        {{ videos }}
      </div>
    </div>
    <div id="datasets-tool"></div>
    <div id="models-tool"></div>
  </div>
  <footer>proudly developed by FTC Team 19726<br/>GitHub: <a href="https://github.com/FFFabulousRobotics">@FFFabulousRobotics</a></footer>
</body>
</html>